* {
  margin: 0;
  padding: 0;
}
body {
  background-color: white;
  margin-top: 50px;
}

/* .miContainer {
  background-color: black;
  border-radius: 10px;
  height: 200px;
  border: grey solid 4px;
} */

.miRow {
  height: 50%;
  justify-content: center;
}

.miCol {
}

.miColBlue {
  background-color: #3a4b5d;
  color: white;
}

.miColGrey {
  background-color: lightgrey;
  color: black;
}

.miColRed {
  background-color: #b04334;
  color: white;
}

.miHeader {
  background-color: #3a4b5d;
  color: white;
}

.container {
}
