

.enlaceListaItem {
    background-color: beige;
    width: 300px;
}

.link {
    color:green;
}
.docItemTitle {
    
}

.docItem {
    width: 500px;
}

.docItemDesciption{

}

/* .backToIndex {
    color: white;
    background-color: green;
    border-radius: 2px;
    border-style: solid;
    width: 75px;
    height: 50px;

} */